.login-top {
    position: relative;
}
.login-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:#7350ac;
}
.login-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    overflow: hidden;
    background-color: aliceblue;
    border-radius: 10px;
    box-sizing: content-box;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.login-form {
    width: 70%;
    overflow: hidden;
}
.login-btn {
    margin: 0 5rem;
}
.login-logo {
    display: block;
    margin: 6%;
    font-size: 2.5rem;
    text-align: center;
}
.login-btn {
    display: flex;
    justify-content: center;
}
.logincolor {
    background-color: rgb(255, 189, 127)!important;
}